*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
overflow-x:hidden;
font-family:serif;
}

/* HERO */

.women-hero{
width:100%;
overflow:hidden;
background:#fff;
}

.women-banner{
width:100%;
display:block;
object-fit:cover;
}

/* CATEGORY */

.category-section{
width:100%;
display:flex;
justify-content:center;
align-items:center;
gap:18px;
padding:25px 20px;
flex-wrap:wrap;
background:#fff;
border-bottom:1px solid #eee;
}

.category{
padding:12px 20px;
font-size:18px;
cursor:pointer;
border-radius:8px;
transition:.3s;
}

.category:hover{
background:#f3f3f3;
}

.category.active{
background:#000;
color:#fff;
}

/* PRODUCTS */

.women-products{
padding:50px 60px;
}

.products-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:30px;
}

.product-card{
background:#fff;
transition:.3s;
}

.product-card:hover{
transform:translateY(-6px);
}

.product-card img{
width:100%;
height:320px;
object-fit:cover;
border-radius:10px;
}

.product-card h3{
margin-top:12px;
font-size:24px;
}

.brand{
margin-top:5px;
color:#666;
font-size:15px;
}

.rating{
margin-top:8px;
font-size:15px;
}

.price-row{
display:flex;
align-items:center;
gap:10px;
margin-top:12px;
flex-wrap:wrap;
}

.new-price{
font-size:26px;
font-weight:bold;
}

.price-row del{
color:#888;
}

.discount{
color:red;
font-weight:bold;
}

.cart-btn{
margin-top:15px;
padding:12px 24px;
background:#000;
color:#fff;
border:none;
cursor:pointer;
border-radius:5px;
font-size:15px;
width:100%;
}

/* ------------------------- */
/* LARGE TABLET */
/* ------------------------- */

@media(max-width:1200px){

.products-grid{
grid-template-columns:repeat(3,1fr);
}

.women-products{
padding:40px;
}

}

/* ------------------------- */
/* TABLET */
/* ------------------------- */

@media(max-width:992px){

.products-grid{
grid-template-columns:repeat(2,1fr);
}

.category{
font-size:16px;
padding:10px 18px;
}

.women-products{
padding:30px;
}

}

/* ------------------------- */
/* MOBILE */
/* ------------------------- */

@media(max-width:768px){

.women-banner{
width:100%;
height:auto;
display:block;
}

.category-section{
justify-content:flex-start;
overflow-x:auto;
flex-wrap:nowrap;
padding:15px;
gap:10px;
scrollbar-width:none;
}

.category-section::-webkit-scrollbar{
display:none;
}

.category{
white-space:nowrap;
font-size:15px;
padding:10px 16px;
}

.products-grid{
grid-template-columns:1fr;
gap:25px;
}

.product-card img{
height:320px;
}

.women-products{
padding:20px;
}

.product-card h3{
font-size:22px;
}

.new-price{
font-size:24px;
}

}

/* ------------------------- */
/* SMALL MOBILE */
/* ------------------------- */

@media(max-width:480px){

.women-products{
padding:15px;
}

.product-card img{
height:280px;
}

.product-card h3{
font-size:20px;
}

.brand{
font-size:14px;
}

.rating{
font-size:14px;
}

.new-price{
font-size:22px;
}

.cart-btn{
padding:12px;
font-size:14px;
}

.category{
font-size:14px;
padding:8px 14px;
}

}